<app-header></app-header>
<div class="standard-max-width">
  <div class="content-main">
    <app-return></app-return>
    <div class="row">
      <div class="col-6">
        <h2 class="mb-4">4.1 Introducción al Modelo en MVC</h2>
        <p class="mt-3 mb-3">
          El Modelo en el patrón MVC (Modelo-Vista-Controlador) es el componente encargado de la gestión y manipulación
          de los datos en una aplicación. Representa la lógica de negocio y la estructura de los datos, conectando la
          aplicación con la base de datos o cualquier otra fuente de datos. En términos sencillos, el Modelo es el
          encargado de interactuar con la base de datos, realizar consultas, actualizaciones, eliminaciones, y cualquier
          otra operación relacionada con los datos. <br> <br>
          En el contexto de una tienda virtual, el Modelo podría representar entidades como Productos, Usuarios,
          Órdenes, etc. Cada una de estas entidades tendrá sus atributos y métodos que permitirán realizar operaciones
          sobre los datos de forma estructurada.
        </p>
      </div>
      <div class="col-6">
        <h2 class="mb-4">4.2 ¿Qué es SQLAlchemy?</h2>
        <p class="mt-3 mb-3">
          SQLAlchemy es una biblioteca de Python que permite trabajar con bases de datos de una manera más abstracta y
          poderosa. Actúa como un ORM (Object-Relational Mapping), lo que significa que convierte tablas de bases de
          datos en clases Python y filas de esas tablas en objetos Python. Esto simplifica la interacción con la base de
          datos, permitiendo trabajar con objetos en lugar de escribir consultas SQL crudas.
        </p>
        <div class="content-img">
          <img src="./assets/bd/bd.png" width="120%" alt="Bases de datos">
        </div>
      </div>
      <div class="col-6">
        <h2 class="mb-4">4.3 Definiendo Modelos con SQLAlchemy</h2>
        <p class="mt-3 mb-3">
          Al usar SQLAlchemy en Flask, los modelos se definen como clases de Python que heredan de Base o db.Model en
          Flask. Cada clase representa una tabla en la base de datos, y cada atributo de la clase representa una columna
          en dicha tabla.
        </p>
        <h4>Ejemplo</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-python">{{ code1 }}
          </code>
        </pre>
        <ul class="mt-3">
          <li>__tablename__: Especifica el nombre de la tabla en la base de datos. <br></li>
          <li>id: Es la clave primaria del producto. <br></li>
          <li>nombre, descripcion, precio, stock: Son las columnas de la tabla, cada una con su tipo de dato
            correspondiente. <br></li>
        </ul>
      </div>
      <div class="col-6">
        <h2 class="mb-4">4.4 Implementación del Modelo en Flask</h2>
        <p class="mt-3 mb-3">
          Para usar los modelos en Flask, primero se debe configurar la aplicación para que funcione con SQLAlchemy:
        </p>
        <h4>Ejemplo</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-python">{{ code2 }}
          </code>
        </pre>
        <p class="mt-3 mb-3">
          Aquí, SQLALCHEMY_DATABASE_URI se utiliza para especificar la base de datos con la que trabajará la aplicación.
          En este caso, se usa PostgreSQL.
        </p>
        <div class="content-img">
          <img src="./assets/modelo/flask.jpeg" width="120%" alt="Bases de datos">
        </div>
      </div>
      <div class="col-12 mt-3">
        <h2 class="mb-4">4.5 Realizando Consultas a la Base de Datos</h2>
        <p class="mt-3 mb-3">
          Una vez definidos los modelos, se pueden realizar varias operaciones sobre la base de datos usando SQLAlchemy.
        </p>
        <h4>Crear un nuevo producto</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-python">{{ code3 }}
          </code>
        </pre>
        <h4>Consultar productos</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-python">{{ code4 }}
          </code>
        </pre>
        <h4>Actualizar producto</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-python">{{ code5 }}
          </code>
        </pre>
        <h4>Eliminar producto</h4>
        <pre class="language-language-markup line-numbers">
          <code class="language-python">{{ code6 }}
          </code>
        </pre>
      </div>
      <div class="col-12 mt-3">
        <h2 class="mb-4">4.6 Relaciones entre Modelos</h2>
        <p class="mt-3 mb-3">
          En una aplicación real, los datos suelen estar relacionados entre sí. SQLAlchemy permite definir relaciones
          entre modelos de manera sencilla. Estas relaciones pueden ser de uno a uno, uno a muchos o muchos a muchos.
        </p>
        <h3 class="mb-4">Relación uno a muchos</h3>
        <p class="mt-3 mb-3">
          Imagina que cada Producto pertenece a una Categoría. Una categoría puede tener muchos productos, pero un
          producto solo pertenece a una categoría.
        </p>
        <pre class="language-language-markup line-numbers">
          <code class="language-python">{{ code7 }}
          </code>
          <span [style.top]="top_style1" class="line-explain"> </span>
          <span [style.top]="top_style2" class="line-explain"> </span>
        </pre>
        <p>
          Aquí, la relación se establece utilizando db.relationship en el modelo Categoria, y db.ForeignKey en el modelo
          Producto para indicar la clave foránea que referencia la categoría a la que pertenece el producto.
        </p>
        <h3 class="mb-4">Relación muchos a muchos</h3>
        <p>
          Supongamos que los Productos pueden tener múltiples Etiquetas y cada Etiqueta puede estar asociada a múltiples
          productos. Esta relación de muchos a muchos se maneja creando una tabla intermedia.
        </p>
        <div class="row">
          <div class="col-6">
            <pre class="language-language-markup line-numbers">
              <code class="language-python">{{ code8 }}
              </code>
            </pre>
            <p>
              Aquí, <span style="font-weight: bold;">productos_etiquetas</span> es la tabla intermedia que contiene las
              claves foráneas de ambas tablas.
            </p>
          </div>
          <div class="col-6">
            <pre class="language-language-markup line-numbers">
              <code class="language-python">{{ code9 }}
              </code>
            </pre>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <h2 class="mb-4">4.7 Consultas Avanzadas con SQLAlchemy</h2>
        <p class="mt-3 mb-3">
          SQLAlchemy no solo permite realizar consultas simples, sino también operaciones más complejas como filtrados
          avanzados, ordenamientos y paginación.
        </p>
        <div class="row">
          <div class="col-6">
            <h4>Filtrados Complejos</h4>
            <pre class="language-language-markup line-numbers">
              <code class="language-python">{{ code10 }}
              </code>
            </pre>
          </div>
          <div class="col-6">
            <h4>Ordenar Resultados</h4>
            <pre class="language-language-markup line-numbers">
              <code class="language-python">{{ code11 }}
              </code>
            </pre>
          </div>
          <div class="col-12">
            <h4>Ordenar Resultados</h4>
            <pre class="language-language-markup line-numbers">
              <code class="language-python">{{ code11 }}
              </code>
            </pre>
          </div>
        </div>
        <p>
          Estas capacidades permiten manejar grandes volúmenes de datos y mejorar la eficiencia de la aplicación al
          trabajar con bases de datos.
        </p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-6">
        <h3>4.8 Ejemplos</h3>
        <p class="mt-3">
          Dentro del fascinante mundo del desarrollo de software, la sección de "Ejemplos" nos permite adentrarnos en la
          aplicación práctica de conceptos teóricos en situaciones reales. En este módulo, exploraremos ejemplos
          concretos utilizando Python y Flask, dos herramientas fundamentales en el desarrollo web.

          En el contexto de "Creando el Modelo en MVC", analizaremos cómo estos conceptos se implementan en la práctica.
          A través de la ejecución de código real, observaremos la interacción precisa entre el Modelo, la Vista y el
          Controlador, desentrañando cómo estas partes se entrelazan para formar la estructura sólida de nuestras
          aplicaciones.

          Los ejemplos que se presentan a continuación servirán como una guía clara para entender cómo el MVC se
          manifiesta en proyectos reales. Veremos cómo cada componente del patrón colabora para crear aplicaciones
          funcionales, y cómo la teoría que hemos aprendido se convierte en una realidad palpable en el desarrollo.

          ¡Acompáñanos en este recorrido práctico y descubre cómo Python y Flask pueden ser aliados poderosos en la
          creación de aplicaciones web robustas y bien estructuradas bajo el paradigma MVC!
        </p>
      </div>
      <div class="col-6">
        <ul class="example_list">
          <li>
            <a routerLink="/configuracionIDE/ejemplo1">
              Ejemplo 1: Encontrar Números Primos
            </a>
          </li>
          <li>
            <a href="#">
              Ejemplo 2: Juego de Ahorcado
            </a>
          </li>
          <li>
            <a href="#">
              Ejemplo 3: Aplicación de Reproductor de Música
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="example_list">
          <li>
            <a routerLink="/introduccionMVC/ejercicio1">Ejercicio 1: Sistema de Gestión de Tareas</a>
          </li>
          <li>
            <a href="#">Ejercicio 2: Nombre del ejercicio</a>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <h3>4.9 Ejercicios</h3>
        <p class="mt-3">
          Después de haber navegado por las aguas teóricas del patrón Modelo-Vista-Controlador en el módulo "Creando el
          Modelo en MVC", es momento de zarpar hacia la práctica. Los conceptos, por muy claros que sean en la teoría,
          alcanzan su verdadero valor cuando los ponemos a prueba en situaciones reales. Esta sección de "Ejercicios" ha
          sido diseñada específicamente para ofrecerte ese reto.

          Aquí, te enfrentarás a una serie de desafíos prácticos que te motivarán a aplicar lo que has aprendido sobre
          el MVC. Desde la creación de pequeños fragmentos de código hasta la construcción de componentes sencillos,
          estos ejercicios te empujarán a pensar, diseñar y desarrollar utilizando el patrón MVC.

          Más allá de simplemente escribir código, se te invitará a tomar decisiones cruciales, a enfrentar problemas
          comunes en el desarrollo, y a idear soluciones que demuestren una comprensión sólida del MVC. ¡Prepárate para
          poner en acción todo lo aprendido y fortalecer tus habilidades en el desarrollo de aplicaciones robustas y
          bien estructuradas!
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
