<app-header></app-header>
<div class="standard-max-width">
  <div class="content-main">
    <app-return [back]="true" [textBack]="textBackModule" [uriBack]="uriBack"></app-return>
    <div class="row">
      <div class="col-12 content-title">
        <h3 class="exercise-title">
          Ejercicio 2: Aplicación de Notas Rápidas
        </h3>
        <ul class="exercises-list-items">
          <li>
            <strong>Descripción: Construye una pequeña aplicación de notas donde el usuario pueda añadir, editar y eliminar notas.</strong>
          </li>
          <li>
            <strong>Objetivo: Practicar cómo interactuar con el Modelo a través del Controlador y actualizar dinámicamente la Vista según los cambios en los datos.</strong>
          </li>
          <li>
            <strong>Instrucciones: </strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
