<app-header></app-header>
<div class="standard-max-width">
  <div class="content-main">
    <!-- <app-return [next]="true" [textNext]="textNext"></app-return> -->
    <hr>
    <div class="row">
      <div class="col-6">
        <h2 class="mb-4">5.3 </h2>
        <p class="mt-5 mb-3">
          Bienvenido al primer módulo de nuestro viaje en "Construyendo Tu Tienda Virtual: Una Experiencia Práctica con
          el
          Modelo MVC".
          En esta etapa inicial, nos sumergiremos en el corazón del patrón Modelo-Vista-Controlador, un enfoque
          revolucionario
          que ha redefinido cómo desarrollamos aplicaciones efectivas y eficientes. <br>
          A lo largo de este módulo, exploraremos:
        </p>
        <ul>
          <li><span>Los Tres Pilares:</span> Desgranaremos cada componente Modelo, Vista y Controlador para descubrir
            sus
            roles específicos y cómo trabajan en conjunto para crear aplicaciones dinámicas y escalables.</li>
          <li><span>Beneficios y Ventajas:</span> Más allá de la teoría, discutiremos las razones prácticas por las que
            tantos
            desarrolladores eligen MVC para sus proyectos.</li>
          <li><span>Casos Prácticos:</span> Ilustraremos con ejemplos concretos cómo se aplica MVC en el mundo real y
            por
            qué
            es relevante para nuestra meta de construir una tienda virtual.</li>
        </ul>
      </div>
      <div class="col-6 content-img">
        <img src="./assets/introduction/mvc1.jpg" alt="mvc1.jpg">
        <!-- <img src="./assets/introduction/mvc2.jpg" alt="mvc2.jpg"> -->
      </div>
    </div>
    <hr>
  </div>
</div>
<app-footer></app-footer>
