<app-header></app-header>
<div class="standard-max-width">
  <div class="content-main">
    <app-return [back]="true" [textBack]="textBackModule" [uriBack]="uriBack"></app-return>
    <div class="row">
      <div class="col-12 content-title">
        <h3 class="exercise-title">
          Ejercicio 1: Crear una Calculadora usando MVC
        </h3>
        <ul class="exercises-list-items">
          <li>
            <strong>Descripción: Implementa una calculadora con operaciones básicas (suma, resta, multiplicación, división).</strong>
          </li>
          <li>
            <strong>Objetivo: Consolidar el entendimiento de cómo el Controlador gestiona la interacción del usuario y cómo se separan las responsabilidades entre la lógica (Modelo) y la interfaz (Vista)</strong>
          </li>
          <li>
            <strong>Instrucciones: </strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
